<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>here is the info about the user</h1>
    <p>Here is the username: <%=user.username %></p>
    <p>Here is the comment: <%=user.comment %></p>
    <p>Here is the id: <%= %>user.id</p>
    <a href="/comments">back to comments</a>
    <a href="/comments/<%= user.id %>/edit">Edit your comments</a>
    <form method="POST" action="/comments/<%=user.id%>?_method=DELETE">
      <button>delete</button>
    </form>
  </body>
</html>

<!-- <form method="post" action="/comments/<%=user.id%>?_method=PATCH"></form> -->
